<%= render partial: 'layouts/header', locals: {title: 'Обучающий портал', breadcrumbs: []} %>

<div class="container">
  <%= render 'ru/index/index.overview' %>
  <%= render 'ru/index/index.connect' %>
  <%= render 'ru/index/index.reports' %>
  <%= render 'ru/index/index.recommendations' %>
  <%= render 'ru/index/index.search' %>
  <%= render 'ru/index/index.popup' %>
  <%= render 'ru/index/index.audience' %>
  <%= render 'ru/index/index.bulk_email' %>
  <%= render 'ru/index/index.bulk_webpush' %>
  <%= render 'ru/index/index.bulk_mobile_push' %>
  <%= render 'ru/index/index.drip' %>
  <%= render 'ru/index/index.transactional' %>
  <%= render 'ru/index/index.settings' %>
  <%= render 'ru/index/index.billing' %>
  <%= render 'ru/index/index.reviews' %>
</div>

